h1{
  font-family: Verdana;
  font-weight: normal;
  font-size: 50px;
  color: white;

}
h2{
  color: aquamarine;
  font-size: 16px;
  text-decoration: underline;
}
h3{
  font-family: Verdana;
  font-size: 21px;
  color: grey;
}
footer{
  text-align: right;
  color: grey;
}
body{
  background-color: black;
  text-align: center;
}
